@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color: #fff;
	--background: #00050f;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: #fff;
		--background: #00050f;
	}
}

body {
	color: var(--color);
	background: var(--background)
}

@layer base {
	@layer components {
		.container {
			@apply px-4 2xl:px-48;
			max-width: 1536px;
			margin: 0 auto;
		}
		.btn{
			@apply rounded-none	;
		}
		section {
			@apply mb-12 pb-16 border-b;
		}
	}
}
